
*{
    box-sizing: border-box;
}

.inner-header{
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0px auto;
    background-color: #8fa6cc;
}

.inner-header h3 {
    font: 36px Arial, sans-serif;
    padding: 0%;
    margin: 0%;
    color: #202020;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pic {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    font: 45px;
    list-style-type: none;
}

.navigation a{
    height: 100%;
    padding: 0px 20px;
    background-color: #8fa6cc;
}
 
.navigation li a{

    font-size: 20px;
    color: #202020;
    text-decoration: none;
}

 
.navigation a:hover{
    background-color: #b4e4fd;
    padding: 5px 2px;
    color: #202020;
}

.headline-text{
    max-width: 920px;
    padding: 0px;
    margin: 0 auto;
}

.headline-text h1{
    padding: 0px;
    margin: 5px 5px 0px;
    text-align: center;

}

.inner-box{
    max-width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.inner-box img {
    width: 300px;
    height: 300px;
    padding: 5px;
    margin: 5px;
}

.inner-box p {
    font: 26px Arial, sans-serif;
    padding: 5px;
    margin: 5px;
    text-align: justify;
}