
*{
    box-sizing: border-box;
}

.inner-header{
    max-width: 1120px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px;
    margin: 0px auto;
    
    background-color: #8fa6cc;
}

.inner-header h3 {
    padding: 0%;
    margin: 0%;
    
    font: bold 20px Arial, sans-serif;
    
    color: #202020;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pic {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    list-style-type: none;
}

.navigation a{
    height: 100%;
    padding: 0px;

    background-color: #8fa6cc;
}
 
.navigation li a{
    margin: 10px;
    padding: 0px;
    
    font: 20px Arial, sans-serif;
    text-decoration: none;
    
    color: #202020;
}

.navigation a:hover{
    padding: 5px 2px;
    
    color: #202020;
    background-color: #b4e4fd;
}

.headline-text{
    max-width: 920px;
    
    padding: 0px;
    margin: 0 auto;
}

.headline-text h1{
    padding: 20px 0px 0px;
    margin: 5px 5px 0px;
    
    text-align: center;

}

.inner-box{
    max-width: 920px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 0 auto;
}

.inner-box p {
    padding: 5px;
    margin: 5px;

    font: 26px Arial, sans-serif;
    text-align: justify;
}

.inner-pics {
    width: auto;
    height: 300px;

    padding: 5px;
    margin: 5px;

    border: 2px dotted #56a84e;
}

.inner_list {
    margin: 0 auto;

    font: 20px Arial, sans-serif;
    list-style-type: none;
    
    color: #202020;  

}

.inner_list a{
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    
    color: #202020;  
}

.inner_list li{
    margin: 10px auto;
}